<section class="panelvender">
    <h1>Vender dolares</h1>
    <form class="formulario row" action="/vender" method="post">
        <label style="background-color: white;" for="dolares">Dolares</label>
        <input name="dolares" class="form-control col-12" type="number" placeholder="0">
        <div class="form-control">
            <div class="col-md-12 text-center" >
                <button class="submit col-md-12 btn-dark">Submit</button>
            </div>
        </div>  
    </form>
</section>