<h1 class="letrasNotFound">NO HAY SUFICIENTE DINERO PARA REALIZAR LA TRANSACCION</h1>
<form action="/" method="get">
<button class="submit col-md-12 btn-dark" type="submit">REGRESAR AL HOME</button></form>