<section class="reportes">
    <div class="container col-6">
        <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
            <div class="card-header">Ventas el dia de hoy</div>
            <div class="card-body">
                <h3 class="card-title">Numero de ventas: <%- ventas %></h3>
                <h3 class="card-title">Dolares vendidos <%- tventas %></h3>
            </div>
        </div>
    </div>
    <div class="container col-6">
        <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
            <div class="card-header">Compras el dia de hoy</div>
            <div class="card-body">
                <h3 class="card-title">Numero de compras: <%- compras %></h3>
                <h3 class="card-title">Dolares comprados <%- tcompras %></h3>
            </div>
        </div>
    </div>
</section>